<html>
	<head>
		<title>	Sudoku </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		 
		<script type="text/javascript" src="../scripts/importNavbar.js"></script>
		<script type="text/javascript" src="dotsNBoxes.js"></script>
		<link type="text/css" rel="stylesheet" href="dotsNBoxes.css">
	</head>
	
	<body>

		<div id="navbar"></div>
        
		<img id="gameUnderDev" src="../images/underDev.png" style="position:fixed; left:15%;  width:70%; z-index: 999; margin:auto; display:none " />
		
		<div id="mainContent">
				
			<table id="theBoard" >
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
				<tr >
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
					<td class="box"  ></td>
					<td class="verSide" ></td>
				</tr>
				<tr >
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
					<td class="horSide"  ></td>
					<td class="vertex" ></td>
				</tr>
			</table>
			
			<div class="controls"  >
				<h4 class="instruct"  v-if="controls==0"  > {{currPlayerText}} play </h4>
				<h4 class="instruct"  v-if="controls==1"  >  {{Winner}} won </h4>
				<hr>
				<button id="btnStartGame" class="btn btn-default" onclick="document.location.reload(true)"> Start New game </button>
			</div> 

		</div>

	</body>
	
</html>

</body>
</html>
