<html>
	<head>
		<title>	Dots & Boxes </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		 
		<script type="text/javascript" src="../scripts/importNavbar.js"></script>
		<script type="text/javascript" src="dotsNBoxes.js"></script>
		<link type="text/css" rel="stylesheet" href="dotsNBoxes.css">
	</head>
	
	<body>

		<div id="navbar"></div>
        
		<img id="gameUnderDev" src="../images/underDev.png" style="position:fixed; left:15%;  width:70%; z-index: 999; margin:auto; display:none " />
		
		<div id="mainContent">


			<table id="theBoard" >
				<tr  v-for="row in game.board" >
					<td v-for="x in row">

						<div class="vertex" v-bind:id="x.id"  v-if="x.type==1"> </div>

						<div v-if="!x.marked" >

							<div v-if="game.currPlayer == 0">
								<div class="verSide redHover unmarkedSide" v-bind:id="x.id" v-if="x.type==2"> </div>
								<div class="horSide redHover unmarkedSide" v-bind:id="x.id"  v-if="x.type==3"> </div>
							</div>

							<div v-if="game.currPlayer == 1" >
								<div class="verSide blueHover unmarkedSide" v-bind:id="x.id"  v-if="x.type==2"> </div>
								<div class="horSide blueHover unmarkedSide" v-bind:id="x.id"  v-if="x.type==3"> </div> 
							</div>

							<div class="box"  v-bind:id="x.id" 	 v-if="x.type==4"> </div>
						</div>

						<div v-if="x.marked" >
							<div v-if="x.color == 0">
								<div class="box" 	  v-bind:id="x.id" 	v-if="x.type==4"  style="background-color: rgb(226, 81, 81);" > </div>
								<div class="verSide"  v-bind:id="x.id" 	v-if="x.type==2"  style="background-color: darkred" > </div>
								<div class="horSide"  v-bind:id="x.id" 	v-if="x.type==3"  style="background-color: darkred" > </div>
							</div>
							<div v-if="x.color == 1" >
								<div class="box" 	  v-bind:id="x.id" 	v-if="x.type==4" style="background-color: rgb(101, 101, 248);" ></div>
								<div class="verSide"  v-bind:id="x.id" 	v-if="x.type==2" style="background-color: darkblue" > </div>
								<div class="horSide"  v-bind:id="x.id" 	v-if="x.type==3" style="background-color: darkblue" > </div>
							</div>
						</div>

					</td>
				</tr>
			</table>

			<div class="controls"  >
				<h4 class="instruct"  v-if="game.control==0" v-bind:style="{ color: game.players[game.currPlayer].color }" > 
					{{ game.players[game.currPlayer].name }} play 
				</h4>
				
				<h4 class="instruct"  v-if="game.control==1 && game.winner==-1" style="color: purple" >
					It's a TIE !
				</h4>
				<h4 class="instruct"  v-if="game.control==1 && game.winner==0" v-bind:style="{ color: game.players[0].color }" >
					{{ game.players[0].name }} Won 
				</h4>
				<h4 class="instruct"  v-if="game.control==1 && game.winner==1" v-bind:style="{ color: game.players[1].color }" >
					{{ game.players[1].name }}  Won 
				</h4>

				<div class="instruct row" >  
					<div class="col-xs-5" v-bind:style="{ color: game.players[0].color }" >
						 {{ game.players[0].name }} - {{ game.players[0].score }} 
					</div> 
					<div class="col-xs-2" >  v </div>
					<div class="col-xs-5" v-bind:style="{ color: game.players[1].color }" >
						{{ game.players[1].score }} - {{ game.players[1].name }} 
					</div>
				</div>

				<hr>

				<button id="btnStartGame" class="btn btn-default" > Start New game </button>
			</div> 

		</div>

	</body>
	
</html>

</body>
</html>
