.flex-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #222;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    min-height: 55px;
}

.flex-navigation a ,
.flex-navigation .dropdown {
    margin: 12px;
    text-decoration:none;
    color:rgb(256,256,256,0.8);
}
.flex-navigation a:hover,
.flex-navigation a:active {
    text-decoration:none;
    color:white;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding: 0px 10px; 
    font-size: 20px
}
.footerLinks
{
    text-decoration: inherit !important;
    color: inherit;
    padding: 0px 10px; 
    font-size: 22px
}
