body
{
    background-color: #333;
}
.flex-center {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.flex-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1 1 400px;
    background-color: #222;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    min-height: 55px;
}

.flex-navigation > #searchForm {
    margin: 12px;
    float: right;
}

.flex-navigation > div > a,
.flex-navigation > div > i {
    font-size: 22px;
    margin: 12px;
    text-decoration:none;
    color:rgb(256,256,256,0.8);
}
.flex-navigation a:hover,
.flex-navigation a:active {
    text-decoration:none;
    color:white;
}

.backgroundImage
{
    position:fixed; 
    margin-top:-20px;
    width:100%;
    z-index: -5;
    min-height: 90%;
}

.game-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-evenly;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding: 0px 10px; 
    font-size: 20px
}

.footerLinks
{
    text-decoration: inherit !important;
    color: inherit;
    padding: 0px 10px; 
    font-size: 22px
}

.searchLinks
{
    position: fixed;
    width: 110%;
    height: calc(100vh - 200px);
    overflow-y:auto;
}

.searchLink
{   
    display: flex;
    font-size: 22px;
    height: 175px;
    width: 200px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,0.8);
    border: 5px solid white;
    color: white;
}

.searchLink:hover,
.searchLink:active
{
    font-size: 24px;
    color :  #2feefc;
    background-color: rgb(0,0,0,1.0);
    text-decoration: none;
}

@media (max-width: 565px) 
{
    .searchLink
    {
        width: 90%;
    }
}