body
{
    background-color: #333;
    background-image: "images/boardGames.jpg";
}

.backgroundImage
{
    position:fixed; 
    margin-top:-20px;
    width:100%;
    z-index: -5;
    min-height: 80%;
}	
#desktopNav
{
    display: block;
}
#mobileNav
{
    display: none;
}	

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding: 0px 10px; 
    font-size: 20px
}

.footerLinks
{
    text-decoration: inherit !important;
    color: inherit;
    padding: 0px 10px; 
    font-size: 22px
}

.searchLinks
{
    position: fixed;
    width: 110%;
    margin: 2%;
    height: 500px;
    overflow-y:auto;
}

.searchLink
{
    display: inline-block;
    font-size: 22px;
    height: 175px;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding-top: 70px;
    background-color: rgb(0,0,0,0.5);
    border : 2px solid white;
    color :  white;
}

.searchLink:hover
{
    color :  white;
    background-color: rgb(0,0,0,0.8);
    text-decoration: none;
}

	
@media (max-width: 768px) 
{
    #desktopNav
    {
        display: none;
    }
    #mobileNav
    {
        display: block;
    }
}

@media (max-width: 565px) 
{
            
    .searchLinks
    {
        margin: 5%;
    }
    .searchLink
    {
        font-size: 25px;
        width: 90%;
    }
}