body
{	background-color : #fff5d7;
	text-align:center;
}

.board ,#theBoard
{
	width : 600px;
	height : 600px;
}

#theBoard
{
	position : relative;
	left :10%;
}

.coin
{
	position: absolute;
	left: -50px;
	top: 535px;
	width : 38px;
	height : 52px;
} 

#allControls
{
	background-color : #ff5e6c;
	font-size: 22px;
	position : absolute;
	top: 100px;
	left : 55%;
	width:	500px;
	padding:20px;
	margin:auto;
}
#instruct
{
	background-color : #fff5d7;
	padding : 30px;
	font-size: 36px;
	font-weight: bold;
}

#theDice, .dice
{
	margin:auto;
	width : 200px;
	height : 200px;
	cursor: pointer;
}

#restart, #start 
{
	width:	150px;
	height: 70px;
	font-size: 20px;
}


.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-left: -100px;
	background-color: #f9c5bd;
	width: 360px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.dropdownImages
{
	padding: 15px;
	width : 180px;
	height : 180px;
}
.dropdownImages:hover
{
	background-color: green;
}
.boardSelected
{
	background-color: green;
}
.btn-info
{
	background-color: #f9c5bd;
	color : black;
	margin : 10px;
	font-size: 22px;
	padding:10px 40px;
}

@media (max-width: 1200px) {

	#allControls
	{
		position : absolute;
		top: 750px;
		left : 10%;
	}
  }