
::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	background-color: #1f0303;
}

body
{	background-color : #fff5d7;
	text-align:center;
}

.board ,#theBoard
{
	width : 600px;
	height : 600px;
}

#theBoard
{
	position : relative;
	left :10%;
}

.coin
{
	position: absolute;
	left: -50px;
	top: 535px;
	width : 35px;
	height : 50px;
} 

.controls ,.startControls
{
	background-color : #ff5e6c;
	font-size: 22px;
	position : absolute;
	top: 100px;
	left : 60%;
	width:	400px;
	padding: 20px;
}
.startControls
{
	left : 10%;
	top: 100px;
}

.instruct
{
	background-color : #fff5d7;
	padding : 15px;
	font-size: 25px;
	font-weight: bold;
}
#instruct , #endInstruct
{
	background-color : #fff5d7;
	padding : 30px;
	font-size: 36px;
	font-weight: bold;

	-webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
}

#theDice, .dice
{
	margin:auto;
	width : 150px;
	height : 150px;
	cursor: pointer;
}


.board-chooser {
	background-color : #fff5d7;
	width: 100%;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-left: 50px;
	background-color: #f9c5bd;
	width: 360px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
}

.board-chooser:hover .dropdown-content {
	display: block;
}
.dropdownImages
{
	padding: 15px;
	width : 180px;
	height : 180px;
}
.dropdownImages:hover,
.boardSelected
{
	background-color: green;
}
.btn-info
{
	background-color: #f9c5bd;
	color : black;
	margin : 10px;
	font-size: 22px;
	padding:10px 40px;
} 

.game-btns
{
	margin-top:20px;
	font-size: 22px;
	width: 48%;
}

.btn-group {
	width:100%;
	display: flex;
	justify-content: space-evenly;
}
.btnDiff
{
	font-size: 20px;;
	width:30%;
}
.btnDiff.active {
	pointer-events:none;
	background-color: rgba(255,245,215, 0.8);
	border:3px solid Green;
}

@media (max-width: 1220px) {

	.controls , .startControls
	{
		position : absolute;
		top: 720px;
		left : 10%;
		width: 500px;
		font-size: 20px;
	}
	.startControls
	{
		top: 100px;
	}

	.instruct
	{
		background-color : #fff5d7;
		padding : 10px;
		font-size: 20px;
		font-weight: bold;
	}
	#instruct, #endInstruct
	{
		background-color : #fff5d7;
		padding : 10px;
		font-size: 22px;
		font-weight: bold;
	}
	
	#theDice, .dice
	{
		margin:auto;
		width : 100px;
		height : 100px;
		cursor: pointer;
	}
  }
  

@media (max-width: 768px) 
{ 
	.board ,#theBoard
	{
		width : 360px;
		height : 360px;
	}
	#theBoard
	{
		position : relative;
		left :5%;
	}

	.controls , .startControls
	{
		position : absolute;
		left :5%;
		top: 480px;
		width: 360px;
	}
	
	.startControls
	{
		width: 90%;
		top: 100px;
	}
	
	.game-btns
	{
		font-size: 15px;
		width: 48%;
	}
	.dropdown-content {
		margin-left:-20px;
	}
  }