<html>
	<head>
		<title>	Sudoku </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		 
		
		<script type="text/javascript" src="../scripts/importNavbar.js"></script>
		<script type="text/javascript" src="scripts/ProblemGetter.js"></script>
		<script type="text/javascript" src="scripts/Cell.js"></script>
		<script type="text/javascript" src="scripts/Game.js"></script>
		<script type="text/javascript" src="scripts/sudoku.js"></script>
		<link type="text/css" rel="stylesheet" href="sudoku.css">
	</head>
	
	<body>
		<div id="navbar"></div>
		
		<div id="mainContent">
            <div class="game">
				<table id="theBoard" v-if="controls != -1" >
					<tr v-for="row in game.fullBoard">
						<td v-for="x in row">

							<div v-if="!x.isSelected">
								<button class="cell initCells" v-bind:id="x.id"  v-if="x.init"  				v-bind:style="{backgroundColor: x.currColor}" > {{x.value}} </button>
								<button class="cell userCells" v-bind:id="x.id"  v-if="!x.init && x.value > 0"	v-bind:style="{backgroundColor: x.currColor}" > {{x.value}} </button>
								<button class="cell userCells" v-bind:id="x.id"  v-if="!x.init && x.value == 0"	v-bind:style="{backgroundColor: x.currColor}" >  			 </button>
							</div>

							<div v-if="x.isSelected">
								<button class="cell initCells selectedCell" v-bind:id="x.id"  v-if="x.init"   > {{x.value}} </button>
								<button class="cell userCells selectedCell" v-bind:id="x.id"  v-if="!x.init && x.value > 0"   > {{x.value}} </button>
								<button class="cell userCells selectedCell" v-bind:id="x.id"  v-if="!x.init && x.value == 0"  >  		   </button>
							</div>
							
						</td>
					</tr>
				</table>

				<div id="allControls">
					<div class="startControls"  v-if="controls==-1" >
						<h4 class="instruct" > Choose difficulty and start </h4>
						<hr>
						<div class="btn-group btn-group-toggle" data-toggle="buttons" > 
							<label class="btn btn-default btnDiff" >
								<input type="radio" name="difficulty" value="0"> Easy </input> 
							</label> 
							<label class="btn btn-default btnDiff"> 
								<input type="radio" name="difficulty" value="1"> Medium </input> 
							</label> 
							<label class="btn btn-default btnDiff"> 
								<input type="radio" name="difficulty" value="2"> Hard </input> 
							</label> 
							<label class="btn btn-default btnDiff active"> 
								<input type="radio" name="difficulty" value="4" checked> Random </input> 
							</label> 
						</div>
						<hr>
						<button id="btnStartGame" class="btn btn-default game-btns" > Start game</button>
					</div>
					
					<div class="controls"   v-if="controls==0" >
						<h4 class="instruct" >Difficult : {{game.difficultyText}} </h4>
						<hr>
						<table id="numPad" style="margin:auto" >
							<tr>
								<td>
									<button class="numPadCell" value="7"> 7 </button>
								</td>
								<td>
									<button class="numPadCell" value="8"> 8 </button>
								</td>
								<td>
									<button class="numPadCell" value="9"> 9 </button>
								</td>
							</tr>
							<tr>
								<td>
									<button class="numPadCell" value="4"> 4 </button>
								</td>
								<td>
									<button class="numPadCell" value="5"> 5 </button>
								</td>
								<td>
									<button class="numPadCell" value="6"> 6 </button>
								</td>
							</tr>
							<tr>
								<td>
									<button class="numPadCell" value="1">  1 </button>
								</td>
								<td>
									<button class="numPadCell" value="2">  2 </button>
								</td>
								<td>
									<button class="numPadCell" value="3">  3 </button>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<button class="numPadClearCell" value="0" >  Clear Cell </button>
								</td>
							</tr>
						</table>
						<hr>
						<button id="btnNewGame" class="btn btn-default game-btns" > Get New game </button>
						<button id="btnResetGame" class="btn btn-default game-btns" > Reset Current game </button>
					</div>
				
					<div class="controls" v-if="controls==1" >
						<h4 class="instruct" > Woah! You won </h4>
						<hr>
						<hr>
						<button id="btStartAgain" class="btn btn-default game-btns" > Get new game </button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
