body
{	background-color : #fef6dd;
	text-align:center;
} 

.cell , .numPadCell
{
	font-size : 30px;
	width: 60px;
	height: 60px;
	border: 1px solid black;
}
.numPadCell:active , .numPadClearCell:active
{
	background-color:darksalmon;
}
.numPadClearCell
{
	font-size : 20px;
	width: 100%; 
	height: 50px;
	border: 1px solid black;
}

.selectedCell
{
	background-color:darksalmon;
}

.initCells
{
	font-weight: 850;
} 

#theBoard
{
	position : absolute;
	left :10%;
}

#restart, #start 
{
	width:	150px;
	height: 70px;
	font-size: 20px;
}

#controls
{	
	background-color : #dea6af;
	font-size: 22px;
	border: 1px solid black;
	width:	700px;
	margin:auto;
} 

.controls ,.startControls
{
	background-color : #ff5e6c;
	font-size: 22px;
	position : absolute;
	top: 100px;
	left : 55%;
	width:	500px;
	padding:20px;
}
.startControls
{
	left : 10%;
	top: 200px;
}

.instruct
{
	background-color : #fff5d7;
	padding : 15px;
	font-size: 25px;
	font-weight: bold;
}

.btnDiff
{
	width: 100px;
}

#btnStartGame, #btnResetGame
{
	font-size: 22px;
	width: 48%;
}

@media (max-width: 1200px) 
{
	.controls , .startControls
	{
		position : absolute;
		top: 650px;
		left : 10%;
		width: 500px;
		font-size: 20px;
	}
	.startControls
	{
		top: 200px;
	}
	.btnDiff
	{
		width: 80px;
	}
	.instruct
	{
		background-color : #fff5d7;
		padding : 10px;
		font-size: 20px;
		font-weight: bold;
	}
}

@media (max-width: 768px) 
{
	.cell , .numPadCell
	{
		font-size : 20px;
		width: 40px;
		height: 40px;
	}
	.controls , .startControls
	{
		position : absolute;
		left :5%;
		top: 520px;
		width: 360px;
	}
	.startControls
	{
		top: 360px;
	}
	#theBoard
	{
		left : 5%;
	}
	#btnStartGame, #btnResetGame
	{
		font-size: 15px;
		width: 48%;
	}
}

@media (max-width: 452px) 
{
	.controls 
	{
		top: 560px;
	}
	
}