body
{	
	background-color : #beef00;
	text-align: center;
}
h1
{
	color : yellow;
}

#gameUnderDev #overlay {
    position: fixed;
    top: 51px;
	z-index: 800; 
	width:100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.7;
}

#gameUnderDev #img {
	position:fixed; 
	top:10%;
	left:10%;  
	width: 80%;
	max-height:80%; 
	z-index: 999; 
	margin:auto; 
}

#tray
{
	border: 1px solid black;
	width:	710px;
	height:	220px;
	padding: 10px;

	position : absolute;
	left : 20px;
}

#deck
{
	position : absolute;
	top : 100px;
	left : 1000px;
	height:	200px;
	float: left;
}
#deckBack
{
	cursor:pointer;
}
.revealedCard
{
	cursor:pointer;
}

#board
{
	position : absolute;
	top : 320px;
	left : 50px;

	margin : 20px;
	height:	200px;
}
.cardHolder
{ 
	position: relative;
	background-color:  #091;
	border: 1px solid black;
	width:	150px;
	height:	180px;
	margin: 10px;
	float: left;
}
.cardImage
{ 
	position: absolute;
	left:0%;
	border: 1px solid black;
	width:	150px;
	height:	180px;
	float: left;
}
  