body
{	
	background-color : #beef00;
	text-align: center;
}
h1
{
	color : yellow;
}

#tray
{
	border: 1px solid black;
	width:	710px;
	height:	220px;
	padding: 10px;

	position : absolute;
	top : 100px;
	left : 20px;
}

#deck
{
	position : absolute;
	top : 100px;
	left : 1000px;
	height:	200px;
	float: left;
}
#deckBack
{
	cursor:pointer;
}
.revealedCard
{
	cursor:pointer;
}

#board
{
	position : absolute;
	top : 320px;
	left : 50px;

	margin : 20px;
	height:	200px;
}
.cardHolder
{ 
	position: relative;
	background-color:  #091;
	border: 1px solid black;
	width:	150px;
	height:	180px;
	margin: 10px;
	float: left;
}
.cardImage
{ 
	position: absolute;
	left:0%;
	border: 1px solid black;
	width:	150px;
	height:	180px;
	float: left;
}
