body
{	background-color : #fef6dd;
	text-align:center;
}
td button
{
	font-size : 22px;
	width: 50px;
	height: 50px;
	border-radius: 20%;
	border: 1px solid black;
	background-color : #aaa; 
}

#theBoard
{
	position : absolute;
	left :10%;
}

#restart, #start 
{
	width:	150px;
	height: 70px;
	font-size: 20px;
}
button:active
{
	background-color: grey;
}

#controls
{	background-color : #dea6af;
	font-size: 22px;
	border: 1px solid black;
	width:	700px;
	margin:auto;
}
#markMine
{	
	width:	22px;
	height: 22px;
	cursor: pointer;
}

#controls
{
	background-color : #ff5e6c;
	font-size: 22px;
	position : absolute;
	top: 100px;
	left : 55%;
	width:	500px;
	padding:20px;
	margin:auto;
}
#instruct
{
	background-color : #fff5d7;
	padding : 30px;
	font-size: 30px;
	font-weight: bold;
}
 

@media (max-width: 1100px) 
{
	#theBoard
	{
		position : absolute;
		left :10%;
	}
	td button
	{
		font-size : 22px;
		width: 50px;
		height: 50px;
	}
	#controls
	{
		position : absolute;
		top: 650px;
		left :10%;
	}
	#instruct
	{
		padding : 10px;
		font-size: 22px;
	}
	#restart, #start 
	{
		width:	120px;
		height: 50px;
		font-size: 16px;
	}
}
 

@media (max-width: 580px) 
{ 
	#theBoard
	{
		position : absolute;
		left :5%;
	}
	td button
	{
		font-size : 20px;
		width: 36px;
		height:36px;
	}
	#controls
	{
		position : absolute;
		top: 480px;
		font-size: 22px;
		width: 360px;
		left :5%;
	}
}