
::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	background-color: #1f0303;
}

body
{	background-color : #fef6dd;
	text-align:center;
}
.cell  
{
	font-size : 22px;
	width: 20px;
	height: 20px; 
	border: 1px solid black;
	background-color : #bbb; 
}

#theBoard
{
	position : absolute;
	left :10%;
}

#restart, #start 
{
	width:	150px;
	height: 70px;
	font-size: 20px;
} 

#controls
{	background-color : #dea6af;
	font-size: 22px;
	border: 1px solid black;
	width:	700px;
	margin:auto;
}
#markMine
{	
	width:	22px;
	height: 22px;
	cursor: pointer;
}

.controls
{
	background-color : #ff5e6c;
	font-size: 22px;
	position : absolute;
	top: 100px;
	left : 55%;
	width:	500px;
	padding:20px;
	margin:auto;
}
#instruct
{
	background-color : #fff5d7;
	padding : 10px;
	font-size: 20px;
	font-weight: bold;
}

.flex-row {
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.flex-column {
	display: flex;
    flex-direction: column;
	width: 30%;
}

.ctrlBtn {
	font-size: 40px;
}
.ctrlBtn#btnLeft,
.ctrlBtn#btnRight {
	width: 20%;
	font-size: 70px;
}

@media (max-width: 1100px) 
{
	#theBoard
	{
		position: absolute;
		left: 10%;
	}
	.controls
	{
		position: absolute;
		top: 600px;
		left: 10%;
	}
	#restart, #start 
	{
		width:	120px;
		height: 50px;
		font-size: 16px;
	}
}

@media (max-width: 580px) 
{ 
	#theBoard
	{
		position : absolute;
		left :5%;
	}
	.cell  
	{
		font-size : 18px;
		width: 15px;
		height: 15px; 
	} 
	.controls
	{
		position: absolute;
		top: 480px;
		font-size: 22px;
		width: 360px;
		left: 5%;
	}
}